@import '../../../styles/variabels.scss';

.footer {
  &_container {
    background-color: #cbcbcb;
    padding: 120px $sidespacing-mobile;
  }

  &_wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr;

    .footer_logo {
      width: 40%;
    }

    @media (min-width: $breakpoint-l) {
      grid-template-columns: 1fr 1fr 1fr;

      .footer_logo {
        width: 100%;
      }
    }
  }

  &_nav {
    display: block;
    margin-top: 40px;

    @media (min-width: $breakpoint-l) {
      display: flex;
    }
  }
}
