.register_container {
    min-height: 50vh;
}

.register_wrapper {
    max-width: 1200px;
    margin: 50px auto;

    input {
        margin-top: 10px;
    }
}

.register_wrapper h3 {
    margin: 20px 0;
}

.register_form p {
    padding: 0;
    margin: 0;
}