@import '../../../styles/variabels.scss';

.modal {
  padding: 20px;
  max-width: 1000px;
  margin: 20px;
  background-color: $color-off-white;
  border-radius: 30px;
  z-index: 1000;

  @media (min-width: 1024px) {
    margin: 100px auto;
    padding: 30px;
  }

  &_content_container {
    @media (min-width: 700px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      min-height: 60vh;
    }
  }

  &_backdrop {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.801);
    overflow: auto;
  }
  &_img_wrapper {
    margin: auto 0;

    img {
      border-radius: 10px;
    }
  }

  &_content_wrapper {
    margin-top: 60px;
  }

  &_add_to_cart_button {
    border: none;
    outline: none;
    background-color: rgb(33, 33, 33);
    color: $color-white;
    padding: 15px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;

    &:hover {
      background-color: $color-white;
      color: $color-black;
      border: 2px solid $color-black;
    }
  }

  &_close {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;

    @media (min-width: 1024px) {
      margin-bottom: 0;
    }

    &_icon {
      width: 40px;
      cursor: pointer;
    }
  }
}
