.contact {
  min-height: 50vh;

  &_wrapper {
    max-width: 1200px;
    margin: 100px auto;
    padding-bottom: 10px;
  }

  &_wrapper h2 {
    margin: 20px 0;
  }

  &_button {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  &_error {
    color: rgb(158, 17, 17);
  }

  &_form_submitted_reply {
    h1 {
      text-align: center;
    }

    p {
      text-align: center;
      font-size: 24px;
      margin-top: 20px;
    }
  }
}
