// /* Montserrat regular and bold */
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

// /* Poppins regular and bold */
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html {
  font-size: 62.5%; /* Makes the root font size to 10px for default browsers */
}

body {
  font-size: $p-small;
  font-family: "Poppins", sans-serif;
}

/* Heading styles */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

h1 {
  font-size: 6.1rem;
  line-height: $line-height-h1;
}
h2 {
  font-size: 4.8rem;
  line-height: $line-height-h2;
}
h3 {
  font-size: 3.9rem;
  line-height: $line-height-h3-h4;
}

/* Paragraph styles */
p {
  font-family: "Montserrat", sans-serif;
  font-size: $p-small;
  font-weight: 400;
  line-height: $line-height-normal;
  margin: 0;
  padding: 10px 0;
}

/* List styles */
ul,
ol {
  list-style: none;
}

li {
  font-size: $p-small;
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;
  color: $color-black;
}
