/* Imports */

// @import './normalize.scss';
@import './variabels.scss';
@import './fonts.scss';
@import './buttons.scss';

/* Base styling */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Img base style */
img {
  width: 100%;
}

input,
textarea {
  outline: none;
  border: 1px solid grey;
  width: 100%;
  padding: 20px 20px;
  border-radius: 50px;
  font-size: 1.6rem;
}

input + input {
  margin-top: 10px;
}

// Styling för active link och nav-item är skev som fan
.link-base {
  font-size: 2rem;
  transition: 0.5s;
  margin: 10px 0;

  @media (min-width: $breakpoint-l) {
    margin-left: 20px;
    margin-top: 0;
    font-size: 1.8rem;
  }
}

.activeLink {
  @extend .link-base;
  text-decoration: underline;

  &:hover {
    color: $color-grey;
    text-decoration: underline;
    transition: 0.5s;
  }
}

.nav_item {
  @extend .link-base;

  &:hover {
    color: $color-grey;
    text-decoration: underline;
    transition: 0.5s;
  }

  @media (max-width: $breakpoint-l) {
    display: flex;
  }
}

.smallText {
  font-size: 1.8rem;
}

// Active link styling slut

.menu-icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
}
