/* Imports */

@import './normalize.scss';
@import './variabels.scss';
@import './fonts.scss';
@import './buttons.scss';

/* Base styling */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Img base style */
img {
  width: 100%;
}

input,
textarea {
  outline: none;
  border: 1px solid grey;
  width: 100%;
  padding: 20px 20px;
  border-radius: 50px;
  font-size: 1.6rem;
}

input + input {
  margin-top: 10px;
}



.activeLink {
  text-decoration: underline;
  font-size: 1.8rem;
  margin-left: 20px;
  transition: 0.5s;

  &:hover {
    color: $color-grey;
    text-decoration: underline;
    transition: 0.5s;
  }
}

.nav_item {
  font-size: 1.8rem;
  margin-left: 20px;
  transition: 0.5s;

  &:hover {
    color: $color-grey;
    text-decoration: underline;
    transition: 0.5s;
  }
}

.smallText {
  font-size: 1.6rem;
}

.menu-icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
}
