@import "../../../styles/variabels.scss";

.li_style {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart_button {
  width: 20px;
  height: 20px;
  outline: none;
  background-color: $color-black;
  color: $color-white;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid $color-black;
}

.total {
  font-weight: bold;
  margin-right: 1rem;

  &_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    border-top: 1px solid rgb(203, 203, 203);
  }
}

.cart {
  &_name {
    width: 45%;
  }

  &_incdecbuttons {
    display: flex;
    width: 18%;
    justify-content: space-between;
  }

  &_price {
    display: flex;
    width: 22%;
    justify-content: flex-end;
    margin-right: 1rem;
  }
}
