@import '../../../styles/variabels.scss';

.header {
  &_container {
    box-shadow: $color-shadow 0px 7px 29px 0px;
  }

  &_wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: space-between;
    padding: 0 $sidespacing-mobile;
  }

  /* Storleken på loggan kan behöva ändras */
  &_logo {
    width: 120px;
  }

  @media (min-width: $breakpoint-xl) {
    &_wrapper {
      padding: 0;
    }

    &_logo {
      width: 150px;
    }
  }
}
@media (min-width: 900px) {
  .mobile {
    display: none;
  }
}

.flex {
  display: flex;
}
