@import '../../../styles/variabels.scss';

.hero {
  &_container {
    background-color: $color-grey-dark;
  }

  &_content_wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px $sidespacing-mobile;
  }

  &_title {
    color: $color-white;
  }

  &_content {
    color: $color-white;
    font-size: $p-normal;
  }

  @media (min-width: $breakpoint-xl) {
    &_content_wrapper {
      padding: 50px 0;
    }
  }
}
