.hero_container {
  background-color: rgb(57, 57, 57);
}

.hero_content_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

.hero_title {
  color: #fff;
}

.hero_content {
  color: #fff;
  font-size: 1.8rem;
}


