@import '../../../styles/variabels.scss';

.products_wrapper {
  display: grid;
  max-width: 1200px;
  margin: 50px auto;
  gap: 20px;
  grid-template-columns: 1fr;
  padding: 0 $sidespacing-mobile;

  @media (min-width: $breakpoint-s) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: $breakpoint-m) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: $breakpoint-l) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
