@import '../../../styles/variabels.scss';

.product_card {
  // product cards in checkout
  &_small {
    &_wrapper {
      border: 1px solid $color-mid-grey;
      padding: 40px;
      margin-top: 10px;
      border-radius: 20px;
      box-shadow: $color-shadow 0px 7px 29px 0px;
    }
  }
  @media (min-width: 800px) {
    &_title {
      width: 20%;
    }

    &_description {
      max-width: 50%;
    }
    &_price {
      display: flex;
      width: 10%;
      justify-content: space-between;
    }

    &_small {
      &_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
      }
      &_items {
        display: flex;
        align-items: center;
        p {
          margin-left: 10px;
        }
      }
    }
  }
}
