@import "../../../styles/variabels.scss";

.product_card {
  &_title {
    width: 20%;
  }

  &_description {
    max-width: 50%;
  }
  &_price {
    display: flex;
    width: 10%;
    justify-content: space-between;
  }

  // product cards in checkout
  &_small {
    &_wrapper {
      display: flex;
      border: 1px solid $color-mid-grey;
      height: 80px;
      justify-content: space-between;
      align-items: center;
      padding: 40px;
      margin-top: 10px;
      border-radius: 20px;
      box-shadow: $color-shadow 0px 7px 29px 0px;
    }

    &_items {
      display: flex;
      align-items: center;

      p {
        margin-left: 10px;
      }
    }

    h4,
    p {
      font-size: $p-normal;
    }
  }
}
