.modal_wrapper {
  width: 80%;
  border-radius: 20px;
  height: fit-content;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid rgb(203, 203, 203);
  margin: 0 auto;
  right: 10px;
  left: 10px;

  @media (min-width: 600px) {
    width: 50%;
    left: 45%;
  }
  @media (min-width: 800px) {
    width: 45%;
    left: 50%;
  }
  @media (min-width: 1000px) {
    width: 30%;
    left: 65%;
  }
}

.title_wrapper {
  font-size: 2.5rem;
  padding: 0.5rem;
  border-bottom: 1px solid rgb(203, 203, 203);
}

.content_wrapper {
  padding: 0.5rem;
  border-bottom: 1px solid rgb(203, 203, 203);
}

.actions_wrapper {
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem;
}

.actions_wrapper > div > button {
  border: none;
  outline: none;
  padding: 12px 18px;
  background-color: #000000;
  color: #fff;
  border-radius: 50px;
  font-size: 1.6rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-right: 1rem;
  border: 2px solid #000000;
  transition: 0.5s;
}

.actions_wrapper > div > button:hover {
  background-color: #fff;
  color: #000000;
  border: 2px solid #000000;
  transition: 0.5s;
}
